$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMedium: 18px;
$fontSizeLarge: 28px;

$fontBold: 700;
$fontWeight: 600;
$fontMedium: 500;
$fontNormal: 400;
$fontLight: 300;

$lineColor: #d8d7d7;

$textColor: #0e0f3b;
$titleColor: #07407b;
